#geral{

}
#titulo{
    text-align: center;
}
#imagem{
    float: left;
    margin-left: 6px;
}
#nomeMusica p::first-letter{
    margin-left: 20px;
    color: #ff0000;
    font-size: xx-large;
}
#letras{
    float: center;
}
#nomeIngles{
    float: left;
    text-align: left;
    margin-right: 20px;
}
#letraIngles{
    float: left;
    text-align: right;
    font-family: Arial;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.5;
    margin: 20px;
    display: block;
}
#nomePortugues{
    float: left;
    text-align: left;
    margin-right: 10px;
}
#letraPortugues{
    float: left;
    text-align: left;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 1.5;
    margin: 20px;
    display: block;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}
li{
    float: left;
}
li a{
    display: block;
    color: #666666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:visited{
    background-color: #ff0000;
}
li a:hover:not(.active){
    background-color: #dddddd;
}
li a.active{
    color: white;
    background-color: #4caf50;
}
